cache
dump
processing
ConsoleData*
__pycache__
webserver_args*.json
run.sh
*.db
*.pem
/GENERIC_TEST_*
*.json
/datasets/*
/bcd_levels/*
/img/*
/GENERIC_TEST
/EXTENDED_TEST_*
/EXTENDED_TEST
/MM-*
decode_swe.py